@use "sass:math";
// Hue:
// red: 30, orange: 85, amber: 113, lime: 129, green: 151, emerald: 164
// teal: 204, azure: 250, blue: 277, purple: 303, magenta: 328, pink: 2
$primaryHue: 277;

// Font family
// sans1-7, serif1-2, monospace1-2, cursive1, fantasy1-2
$text: "sans6";
$heading: "fantasy2";
// Font size
// from 0.5 to 1.5
$fontSize: 1.5;

// Negative space
// from 1 to 9
$space: 3;