/******************/
/* 3. layout/main */
/******************/

// html, body, main

html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
    color: var(--text);
    background-color: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    height: 100vh;
    margin:0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}