.primary900 {
    background-color: $primary900;
    color: white;
}

.primary800 {
    background-color: $primary800;
    color: white;
}

.primary700 {
    background-color: $primary700;
    color: white;
}

.primary600 {
    background-color: $primary600;
    color: white;
}

.primary500 {
    background-color: $primary500;
    color: white;
}

.primary400 {
    background-color: $primary400;
    color: black;
}

.primary300 {
    background-color: $primary300;
    color: black;
}

.primary200 {
    background-color: $primary200;
    color: black;
}

.primary100 {
    background-color: $primary100;
    color: black;
}

.secondary900 {
    background-color: $secondary900;
    color: white;
}

.secondary800 {
    background-color: $secondary800;
    color: white;
}

.secondary700 {
    background-color: $secondary700;
    color: white;
}

.secondary600 {
    background-color: $secondary600;
    color: white;
}

.secondary500 {
    background-color: $secondary500;
    color: white;
}

.secondary400 {
    background-color: $secondary400;
    color: black;
}

.secondary300 {
    background-color: $secondary300;
    color: black;
}

.secondary200 {
    background-color: $secondary200;
    color: black;
}

.secondary100 {
    background-color: $secondary100;
    color: black;
}

.tertiary900 {
  background-color: $tertiary900;
  color: white;
}

.tertiary800 {
  background-color: $tertiary800;
  color: white;
}

.tertiary700 {
  background-color: $tertiary700;
  color: white;
}

.tertiary600 {
  background-color: $tertiary600;
  color: white;
}

.tertiary500 {
  background-color: $tertiary500;
  color: white;
}

.tertiary400 {
  background-color: $tertiary400;
  color: black;
}

.tertiary300 {
  background-color: $tertiary300;
  color: black;
}

.tertiary200 {
  background-color: $tertiary200;
  color: black;
}

.tertiary100 {
  background-color: $tertiary100;
  color: black;
}

.neutral900 {
    background-color: $neutral900;
    color: white;
}

.neutral800 {
    background-color: $neutral800;
    color: white;
}

.neutral700 {
    background-color: $neutral700;
    color: white;
}

.neutral600 {
    background-color: $neutral600;
    color: white;
}

.neutral500 {
    background-color: $neutral500;
    color: white;
}

.neutral400 {
    background-color: $neutral400;
    color: black;
}

.neutral300 {
    background-color: $neutral300;
    color: black;
}

.neutral200 {
    background-color: $neutral200;
    color: black;
}

.neutral100 {
    background-color: $neutral100;
    color: black;
}

.error900 {
    background-color: $error900;
    color: white;
}

.error800 {
    background-color: $error800;
    color: white;
}

.error700 {
    background-color: $error700;
    color: white;
}

.error600 {
    background-color: $error600;
    color: white;
}

.error500 {
    background-color: $error500;
    color: white;
}

.error400 {
    background-color: $error400;
    color: black;
}

.error300 {
    background-color: $error300;
    color: black;
}

.error200 {
    background-color: $error200;
    color: black;
}

.error100 {
    background-color: $error100;
    color: black;
}

.warning900 {
    background-color: $warning900;
    color: white;
}

.warning800 {
    background-color: $warning800;
    color: white;
}

.warning700 {
    background-color: $warning700;
    color: white;
}

.warning600 {
    background-color: $warning600;
    color: white;
}

.warning500 {
    background-color: $warning500;
    color: white;
}

.warning400 {
    background-color: $warning400;
    color: black;
}

.warning300 {
    background-color: $warning300;
    color: black;
}

.warning200 {
    background-color: $warning200;
    color: black;
}

.warning100 {
    background-color: $warning100;
    color: black;
}

.success900 {
    background-color: $success900;
    color: white;
}

.success800 {
    background-color: $success800;
    color: white;
}

.success700 {
    background-color: $success700;
    color: white;
}

.success600 {
    background-color: $success600;
    color: white;
}

.success500 {
    background-color: $success500;
    color: white;
}

.success400 {
    background-color: $success400;
    color: black;
}

.success300 {
    background-color: $success300;
    color: black;
}

.success200 {
    background-color: $success200;
    color: black;
}

.success100 {
    background-color: $success100;
    color: black;
}