$fontText: 'Open Sans', sans-serif !default;

@if $text == "sans1" {
    $fontText: 'urw gothic', sans-serif;
} @else if $text == "sans2" {
    $fontText: 'Nimbus Sans', sans-serif;
} @else if $text == "sans3" {
    $fontText: 'Nimbus Sans Narrow', sans-serif;
} @else if $text == "sans4" {
    $fontText: 'Noto Sans', sans-serif;
} @else if $text == "sans5" {
    $fontText: 'quicksand', sans-serif;
} @else if $text == "sans6" {
    $fontText: 'raleway', sans-serif;
} @else if $text == "sans7" {
    $fontText: 'roboto', sans-serif;
} @else if $text == "serif1" {
    $fontText: 'Nimbus Roman', serif;
} @else if $text == "serif2" {
    $fontText: 'urw bookman', serif;
} @else if $text == "monospace1" {
    $fontText: 'Source Code Pro', monospace;
} @else if $text == "monospace2" {
    $fontText: 'Nimbus Mono PS', monospace;
} @else if $text == "cursive1" {
    $fontText: 'z003', cursive;
} @else if $text == "fantasy1" {
    $fontText: 'Expansiva', fantasy;
} @else if $text == "fantasy2" {
    $fontText: 'Feena Casual', fantasy;
} @else {
    $fontText: 'Open Sans', sans-serif;
}

$fontHeading: 'Existence Light', fantasy !default;

@if $heading == "sans1" {
    $fontHeading: 'urw gothic', sans-serif;
} @else if $heading == "sans2" {
    $fontHeading: 'Nimbus Sans', sans-serif;
} @else if $heading == "sans3" {
    $fontHeading: 'Nimbus Sans Narrow', sans-serif;
} @else if $heading == "sans4" {
    $fontHeading: 'Noto Sans', sans-serif;
} @else if $heading == "sans5" {
    $fontHeading: 'quicksand', sans-serif;
} @else if $heading == "sans6" {
    $fontHeading: 'raleway', sans-serif;
} @else if $heading == "sans7" {
    $fontHeading: 'roboto', sans-serif;
} @else if $heading == "serif1" {
    $fontHeading: 'Nimbus Roman', serif;
} @else if $heading == "serif2" {
    $fontHeading: 'urw bookman', serif;
} @else if $heading == "monospace1" {
    $fontHeading: 'Source Code Pro', monospace;
} @else if $heading == "monospace2" {
    $fontHeading: 'Nimbus Mono PS', monospace;
} @else if $heading == "cursive1" {
    $fontHeading: 'z003', cursive;
} @else if $heading == "fantasy1" {
    $fontHeading: 'Expansiva', fantasy;
} @else if $heading == "fantasy2" {
    $fontHeading: 'Feena Casual', fantasy;
} @else {
    $fontHeading: 'Open Sans', sans-serif;
}

$fontSize: 1em * $fontSize !default;