$primary100: oklch($lightness100 $chroma100 $primaryHue);
$primary200: oklch($lightness200 $chroma200 $primaryHue);
$primary300: oklch($lightness300 $chroma300 $primaryHue);
$primary400: oklch($lightness400 $chroma400 $primaryHue);
$primary500: oklch($lightness500 $chroma500 $primaryHue);
$primary600: oklch($lightness600 $chroma400 $primaryHue);
$primary700: oklch($lightness700 $chroma300 $primaryHue);
$primary800: oklch($lightness800 $chroma200 $primaryHue);
$primary900: oklch($lightness900 $chroma100 $primaryHue);

$secondary100: oklch($lightness100 $chroma100*$secondaryChroma $secondaryHue);
$secondary200: oklch($lightness200 $chroma200*$secondaryChroma $secondaryHue);
$secondary300: oklch($lightness300 $chroma300*$secondaryChroma $secondaryHue);
$secondary400: oklch($lightness400 $chroma400*$secondaryChroma $secondaryHue);
$secondary500: oklch($lightness500 $chroma500*$secondaryChroma $secondaryHue);
$secondary600: oklch($lightness600 $chroma400*$secondaryChroma $secondaryHue);
$secondary700: oklch($lightness700 $chroma300*$secondaryChroma $secondaryHue);
$secondary800: oklch($lightness800 $chroma200*$secondaryChroma $secondaryHue);
$secondary900: oklch($lightness900 $chroma100*$secondaryChroma $secondaryHue);

$tertiary100: oklch($lightness100 $chroma100 $tertiaryHue);
$tertiary200: oklch($lightness200 $chroma200 $tertiaryHue);
$tertiary300: oklch($lightness300 $chroma300 $tertiaryHue);
$tertiary400: oklch($lightness400 $chroma400 $tertiaryHue);
$tertiary500: oklch($lightness500 $chroma500 $tertiaryHue);
$tertiary600: oklch($lightness600 $chroma400 $tertiaryHue);
$tertiary700: oklch($lightness700 $chroma300 $tertiaryHue);
$tertiary800: oklch($lightness800 $chroma200 $tertiaryHue);
$tertiary900: oklch($lightness900 $chroma100 $tertiaryHue);

$neutral100: oklch($lightness100 0.005 $neutralHue);
$neutral200: oklch($lightness200 0.01 $neutralHue);
$neutral300: oklch($lightness300 $neutralChroma $neutralHue);
$neutral400: oklch($lightness400 $neutralChroma $neutralHue);
$neutral500: oklch($lightness500 $neutralChroma $neutralHue);
$neutral600: oklch($lightness600 $neutralChroma $neutralHue);
$neutral700: oklch($lightness700 $neutralChroma $neutralHue);
$neutral800: oklch($lightness800 $neutralChroma $neutralHue);
$neutral900: oklch($lightness900 $neutralChroma $neutralHue);

$error100: oklch($lightness100 $chroma100 $errorHue);
$error200: oklch($lightness200 $chroma200 $errorHue);
$error300: oklch($lightness300 $chroma300 $errorHue);
$error400: oklch($lightness400 $chroma400 $errorHue);
$error500: oklch($lightness500 $chroma500 $errorHue);
$error600: oklch($lightness600 $chroma400 $errorHue);
$error700: oklch($lightness700 $chroma300 $errorHue);
$error800: oklch($lightness800 $chroma200 $errorHue);
$error900: oklch($lightness900 $chroma100 $errorHue);

$warning100: oklch($lightness100 $chroma100 $warningHue);
$warning200: oklch($lightness200 $chroma200 $warningHue);
$warning300: oklch($lightness300 $chroma300 $warningHue);
$warning400: oklch($lightness400 $chroma400 $warningHue);
$warning500: oklch($lightness500 $chroma500 $warningHue);
$warning600: oklch($lightness600 $chroma400 $warningHue);
$warning700: oklch($lightness700 $chroma300 $warningHue);
$warning800: oklch($lightness800 $chroma200 $warningHue);
$warning900: oklch($lightness900 $chroma100 $warningHue);

$success100: oklch($lightness100 $chroma100 $successHue);
$success200: oklch($lightness200 $chroma200 $successHue);
$success300: oklch($lightness300 $chroma300 $successHue);
$success400: oklch($lightness400 $chroma400 $successHue);
$success500: oklch($lightness500 $chroma500 $successHue);
$success600: oklch($lightness600 $chroma400 $successHue);
$success700: oklch($lightness700 $chroma300 $successHue);
$success800: oklch($lightness800 $chroma200 $successHue);
$success900: oklch($lightness900 $chroma100 $successHue);