
// Hue:
// red: 30, orange: 85, amber: 113, lime: 129, green: 151, emerald: 164
// teal: 204, azure: 250, blue: 277, purple: 303, magenta: 328, pink: 2
$primaryHue: 303;

// Fonts combinations
// 1-4
$font-combination: 3;

// Font size
// from 1 to 3vw
$font-size: 1.6vw;

// Negative space
// from 0 to 1em
$space: 0.5em;