<p>primary:
    {% render 'swatch', bg: 'primary100' %}
    {% render 'swatch', bg: 'primary200' %}
    {% render 'swatch', bg: 'primary300' %}
    {% render 'swatch', bg: 'primary400' %}
    {% render 'swatch', bg: 'primary500' %}
    {% render 'swatch', bg: 'primary600' %}
    {% render 'swatch', bg: 'primary700' %}
    {% render 'swatch', bg: 'primary800' %}
    {% render 'swatch', bg: 'primary900' %}</p>
<p>secondary:
    {% render 'swatch', bg: 'secondary100' %}
    {% render 'swatch', bg: 'secondary200' %}
    {% render 'swatch', bg: 'secondary300' %}
    {% render 'swatch', bg: 'secondary400' %}
    {% render 'swatch', bg: 'secondary500' %}
    {% render 'swatch', bg: 'secondary600' %}
    {% render 'swatch', bg: 'secondary700' %}
    {% render 'swatch', bg: 'secondary800' %}
    {% render 'swatch', bg: 'secondary900' %}</p>
<p>tertiary:
    {% render 'swatch', bg: 'tertiary100' %}
    {% render 'swatch', bg: 'tertiary200' %}
    {% render 'swatch', bg: 'tertiary300' %}
    {% render 'swatch', bg: 'tertiary400' %}
    {% render 'swatch', bg: 'tertiary500' %}
    {% render 'swatch', bg: 'tertiary600' %}
    {% render 'swatch', bg: 'tertiary700' %}
    {% render 'swatch', bg: 'tertiary800' %}
    {% render 'swatch', bg: 'tertiary900' %}</p>
<p>neutral:
    {% render 'swatch', bg: 'neutral100' %}
    {% render 'swatch', bg: 'neutral200' %}
    {% render 'swatch', bg: 'neutral300' %}
    {% render 'swatch', bg: 'neutral400' %}
    {% render 'swatch', bg: 'neutral500' %}
    {% render 'swatch', bg: 'neutral600' %}
    {% render 'swatch', bg: 'neutral700' %}
    {% render 'swatch', bg: 'neutral800' %}
    {% render 'swatch', bg: 'neutral900' %}</p>
<p>success:
    {% render 'swatch', bg: 'success100' %}
    {% render 'swatch', bg: 'success200' %}
    {% render 'swatch', bg: 'success300' %}
    {% render 'swatch', bg: 'success400' %}
    {% render 'swatch', bg: 'success500' %}
    {% render 'swatch', bg: 'success600' %}
    {% render 'swatch', bg: 'success700' %}
    {% render 'swatch', bg: 'success800' %}
    {% render 'swatch', bg: 'success900' %}</p>
<p>warning:
    {% render 'swatch', bg: 'warning100' %}
    {% render 'swatch', bg: 'warning200' %}
    {% render 'swatch', bg: 'warning300' %}
    {% render 'swatch', bg: 'warning400' %}
    {% render 'swatch', bg: 'warning500' %}
    {% render 'swatch', bg: 'warning600' %}
    {% render 'swatch', bg: 'warning700' %}
    {% render 'swatch', bg: 'warning800' %}
    {% render 'swatch', bg: 'warning900' %}</p>
<p>error:
    {% render 'swatch', bg: 'error100' %}
    {% render 'swatch', bg: 'error200' %}
    {% render 'swatch', bg: 'error300' %}
    {% render 'swatch', bg: 'error400' %}
    {% render 'swatch', bg: 'error500' %}
    {% render 'swatch', bg: 'error600' %}
    {% render 'swatch', bg: 'error700' %}
    {% render 'swatch', bg: 'error800' %}
    {% render 'swatch', bg: 'error900' %}</p>