---
layout: base
---
<header role="banner">
    {% include 'navPrimary' %}
</header>
<main>
    <aside role="complementary">
        {% include 'navSecondary' %}
    </aside>
    <h1>{{ title }}</h1>
    <section>
        {% if description %}<p>{{ description }}</p>{% endif %}
        {{ content }}
    </section>
</main>
<footer role="contentinfo">
    {% include 'navFooter' %}
    {% include 'copyright' %}
</footer>